@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this engineers's information: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.Status)
  @Html.DropDownListFor(model => model.Status, 
  new SelectList(Enum.GetValues(typeof(EngineerStatus))))
  @Html.LabelFor(model => model.License)
  @Html.TextBoxFor(model => model.License, new { placeholder = "MM/DD/YYYY" })
  
  <input type="submit" value="Save" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back To the List of Engineers", "Index")</p>
</div>